# Virtual environment (if applicable)
venv/
# Environment variables
.env
# Django
db.sqlite3
__pycache__/
*.pyc
# Backup files
*.bak
# PyCharm
.idea/
# Python Packaginga
*.egg-info/
dist/
build/
# VSCode
.vscode/
# Ignore custom file containing databases
database_config.py
env/
env
*.logenv/
# env
*.sublime-project
*.sublime-workspace
*.pot
*.pyo
*.pyd
# Other
# Django