asgiref==3.8.1
Authlib==1.3.2
cryptography==3.4.8
Django==5.0.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1 
django-heroku==0.3.1
dj-database-url==2.2.0
duplicity==0.8.21
django-google-sso==7.1.0
fasteners==0.14.1
filelock==3.15.4
future==0.18.2
gunicorn==23.0.0
httplib2==0.20.2
netifaces==0.11.0
oauthlib==3.2.0
Pillow==9.0.1
psycopg2-binary==2.9.9
python-dotenv==1.0.1
requests==2.25.1
sqlparse==0.4.2
urllib3==1.26.5
usb-creator==0.3.7
virtualenv==20.26.3
whitenoise==6.7.0
black==24.8.0
django-cors-headers==4.4.0
flake8== 7.1.1
isort==5.13.2
drf-yasg== 1.21.7